<section>
	<%- if @user %>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= Currency.collected.count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= Currency.not_collected.count %></td>
      </tr>
    </table>
  </div>
	<%- end %>

  <h1>Currencies</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
			<%- if @user %>
      <th>Status</th>
      <th></th>
			<%- end %>
    </tr>

  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
			<%- if @user %>
      <td><%= currency.collected? ? 'Collected' : 'Not Collected' %></td>
      <td><%= link_to 'Show', currency %></td>
			<%- end %>
    </tr>
  <% end %>
  </table>
</section>