<section>
	<% if @user %>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected (<%= @user.currencies.count %>)</th>
        <td><%= @user.currencies.count %></td>
      </tr><tr>
        <th>Not Collected (<%= Currency.count - @user.currencies.count %>)</th>
        <td><%= Currency.count - @user.currencies.count %></td>
      </tr>
    </table>
  </div>
	<% end %>

  <h1>Currencies</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
			<% if @user %>
      <th>Status</th>
      <th></th>
			<% end %>
    </tr>

  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
			<% if @user %>
      <td><%= @user.currencies.include?(currency) ? raw('<strong>Collected</strong>') : 'Not Collected' %></td>
      <td><%= link_to 'Show', currency %></td>
			<% end %>
    </tr>
  <% end %>
  </table>
</section>