<style>
	/*@import "/charting/css/basic.css";*/
	@import "/charting/css/visualize.css";
	@import "/charting/css/visualize-light.css";
</style>

<section>
	<h1>Countries</h1>
<% if @user %>
	<div style="clear:both">
		<div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
			<table>
				<tr>
					<th>Visited (<%= @user.countries.count %>)</th>
					<td><%= @user.countries.count %></td>
				</tr>
				<tr>
					<th>Not Visited (<%= Country.count - @user.countries.count %>)</th>
					<td><%= Country.count - @user.countries.count %></td>
				</tr>
			</table>
		</div>

		<table id="chart" style="display:none" class="chart">
			<caption>Visits from August 16 to August 21</caption>
			<thead>
				<tr>
					<td></td>
					<% @chart_data.each do |k,v| %>
						<th scope="col"><%= k %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>

				<tr>
					<th scope="row">*</th>
					<% @chart_data.each do |k,v| %>
						<td scope="col"><%= v %></td>
					<% end %>
				</tr>
			</tbody>
		</table>

	</div>

<% end %>



	<div style="clear:both">Filter: <input type="text" id="filterbox" autocomplete="off">
		<button id="filter_do">filter</button>
		<button id="filter_clear">clear</button>
		<% if @user %><button id="filter_checkall">check all</button><% end %>
	</div>

	<% form_tag :action => :update_list do %>
  <table id="countriestable">
    <tr>
      <th>Name</th>
      <th>Code</th>
			<% if @user %>
      <th>Visited</th>
      <th></th>
      <th></th>
			<% end %>
    </tr>

		<% if @user %>
			<% @countries.each do |country| %>
				<tr class="country">
					<td class="name"><%= country.name %></td>
					<td><%= country.code %></td>
					<td class="checkbox"><%= check_box_tag 'visited[]', country[:code], @user.countries.include?(country), :autocomplete => 'off' %></td>
					<td><%= link_to 'Show', country %></td>
					<td><%= link_to 'Edit', edit_country_path(country) %></td>
				</tr>
			<% end %>
		<% else %>
			<% @countries.each do |country| %>
				<tr class="country">
					<td class="name"><%= country.name %></td>
					<td><%= country.code %></td>
				</tr>
			<% end %>
		<% end %>
  </table>
	<div style="text-align:right; padding-top:5px;"><%= submit_tag 'Save' %></div>
	<% end # form_tag %>

</section>

<script type="text/javascript" src="/charting/js/visualize.jQuery.js"></script>

<script type="text/javascript">
$(function(){
	$('#filter_do').click(function(){
		var filtertext = $('#filterbox').val().toLowerCase();
		if (filtertext.match(/\S/ig)){
			$('#countriestable tr.country').each(function(index, item){
				if ($(item).children('td.name').text().toLowerCase().match(filtertext)){
					$(item).show();
				} else {
					$(item).hide();
				}
			})
		}
	});

	$('#filter_clear').click(function(){
		$('#filterbox').val('')
		$('#countriestable tr.country').show()
	});

	$('#filter_checkall').click(function(){
		$('#countriestable tr.country:visible').each(function(index, item){
			$(item).children('td.checkbox').children('input').attr('checked', true);
		});
	});

	$('#chart').visualize({type: 'line', width: '400px'});

});
</script>