<section>
<%- if @user %>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited (<%= @user.countries.count %>)</th>
        <td><%= @user.countries.count %></td>
      </tr>
			<tr>
        <th>Not Visited (<%= Country.count - @user.countries.count %>)</th>
        <td><%= Country.count - @user.countries.count %></td>
      </tr>
    </table>
  </div>
<%- end %>
  <h1>Countries</h1>

	<% form_tag :action => :update_list do %>
  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
			<%- if @user %>
      <th>Visited</th>
      <th></th>
      <th></th>
			<%- end %>
    </tr>

		<%- if @user %>
			<% @countries.each do |country| %>
				<tr>
					<td><%= country.name %></td>
					<td><%= country.code %></td>
					<td><%= check_box_tag 'visited[]', country[:code], @user.countries.include?(country) %></td>
					<td><%= link_to 'Show', country %></td>
					<td><%= link_to 'Edit', edit_country_path(country) %></td>
				</tr>
			<% end %>
		<%- else %>
			<% @countries.each do |country| %>
				<tr>
					<td><%= country.name %></td>
					<td><%= country.code %></td>
				</tr>
			<% end %>
		<%- end %>
  </table>
	<div style="text-align:right; padding-top:5px;"><%= submit_tag 'Save' %></div>
	<% end # form_tag %>

</section>